html {
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

.text{
  padding:50px;
}

.main-body {
  display: flex;
  justify-content: center;
}

.Button {
  padding: 20px;
  font-weight: 900;
  font-size: 16px;
  margin: 3px 3px;
  width: 64px;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 12px;
}

.Button:active{
  background-color:white;
}

.container {
  padding: 3px;
  border: 2px solid black;
  border-radius: 12px;
}

.input {
  width: 90%;
  height: 60px;
  margin: 10px;
  font-size: 22px;
}

.double{
  width:128px;
}